*{
  padding: 0%;
  margin: 0%;
  list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.App {
  --black: #373740;
  --darker-green: #2A9D8F;
  --green: #2EA690;
  --orange: #F29863;
  --white: #F2F2F2;

  background-color: var(--white); 
}

